{{> header subtitle="Password Reset Request"}}

<div class="content">
    <p>Hello {{name}},</p>
    
    <p>We received a request to reset the password for your account. If you made this request, please click the button below to reset your password:</p>

    <p style="text-align: center; margin: 2rem 0;">
        <a href="{{resetLink}}" class="button">Reset Password</a>
    </p>

    <p>This password reset link will expire in {{expiryTime}} hours. If you need a new reset link after that, you'll need to make another request.</p>

    <p><strong>Security Notice:</strong> If you didn't request a password reset, please ignore this email and ensure your account is secure by:</p>
    <ul>
        <li>Checking your account activity</li>
        <li>Updating your password if needed</li>
        <li>Enabling two-factor authentication</li>
    </ul>

    <p>Best regards,<br>The Complete Authentication Team</p>
</div>

{{> footer showSupport=true}} 