{{> header subtitle="Welcome to your new account!"}}

<div class="content">
    <p>Hello {{name}},</p>
    
    <p>Thank you for creating an account with Complete Authentication System. We're excited to have you on board!</p>
    
    <p>Your account has been successfully created and is ready to use. You can now enjoy all the features of our secure authentication system:</p>
    
    <ul>
        <li>Two-factor authentication</li>
        <li>Secure password management</li>
        <li>Email verification</li>
        <li>Password reset capabilities</li>
    </ul>

    <p style="text-align: center; margin: 2rem 0;">
        <a href="{{loginLink}}" class="button">Access Your Account</a>
    </p>

    <p>For enhanced security, we recommend enabling two-factor authentication in your account settings.</p>

    <p>Best regards,<br>The Complete Authentication Team</p>
</div>

{{> footer showSupport=true}}